# DTSC-580: Data Manipulation
## Assignment: Survivor

### Name:

## Overview

In this assignment, you will test all the skills that you have learned during this course to manipulate the provided data to find the answers to questions about the TV show Survivor.  If you are not familiar with this show, start by watching this short clip that briefly explains it:  [Survivor Explained](https://www.youtube.com/watch?v=l1-hTpG_krk)

Please note that your notebook should be named `survivor` when submitting to CodeGrade for the automatic grading to work properly.

## Data

The Survivor data is a R package from Daniel Oehm.  Daniel has made the data for this package available as an Excel file as explained in his article on [gradientdescending.com](http://gradientdescending.com/survivor-data-from-the-tv-series-in-r/).  Please make sure that you use the file from our Brightspace page though to make sure that your data will match what CodeGrade is expecting.  We have also updated some errors in the file, which is another reason that you must use the data given to you.

You need to first read the article on the website linked above.  This will give you additional details about the data that will be important as you answer the questions below.

Please note that there is a data dictionary in the file that explains the columns in the data.  You will also want to become familiar with the various spreadsheets and column names.  This will help you out tremendously in this assignment.

Finally, here are a couple of things to know for those of you that have not seen the show:
- Survivor is a reality TV show that first aired May 31, 2000 and is currently still on TV.
- Contestants are broken up into two teams (usually) where they live in separate camps. 
- The teams compete in various challenges for rewards (food, supplies, brief experience trips, etc) and tribal immunity.  
- The team that loses a challenge, and therefore doesn't get the tribal immunity, goes to tribal council where they have to vote one of their members out (this data is represented in the "Vote History" spreadsheet).
- After there are a small number of contestants left, the tribes are merged into one tribe where each contestant competes for individual immunity.  The winner of the individual immunity cannot get voted out and is safe at the next tribal council.
- The are also hidden immunity idols that are hidden around the campground.  If a contestant finds and plays their hidden immunity at the tribal council, then all votes against them do not count, and the player with the next highest number of votes goes home.
- When the contestants get down to 2 or 3 people, a number of the last contestants, known as the jury, come back to vote for the person who they think should win the game.  The winner is the one who gets the most jury votes (this data is represented in the "Jury Votes" spreadsheet).  This person is known as the Sole Survivor.
- Voting recap: 
    - Tribal Council votes (Vote History spreadsheet) are bad; contestants with the most votes get sent home
    - Jury Votes (Jury Votes spreadsheet) are good; contestants with the most votes win the game and is the Sole Survivor

## Note

<u>Show Work</u>

Remember that you must show your work.  Students submissions are spot checked manually to verify that they are not hard coding the answer from looking only in the file or in CodeGrade's expected output.  If this is seen, the student's answer will be manually marked wrong and their grade will be changed to reflect this.

For example, if the question is who is the contestant who has received the most tribal votes to be voted out.  Select their record from the `castaway_details` DataFrame.  

You would show your work and code similar to this:
```
### incorrect way ###
Q1 = castaway_details[castaway_details['castaway_id'] ==  333]

### correct way - showing your work ###
# get index
idx = vote_history.groupby('vote_id').size().sort_values(ascending=False).index[0]

# select row based on index 
Q1 = castaway_details[castaway_details['castaway_id'] ==  idx]
```

<u>Use Copy</u>

Don't change any of the original DataFrames unless specifically asked or CodeGrade will not work correctly for this assignment.  Make sure you use `copy()` if needed.

In [1]:
# standard imports
import pandas as pd
import numpy as np

# Do not change this option; This allows the CodeGrade auto grading to function correctly
pd.set_option('display.max_columns', None)

First, import the data from the `survivor.xlsx` file, calling the respective DataFrames the same as the sheet name but with lowercase and [snake case](https://en.wikipedia.org/wiki/Snake_case).  For example, the sheet called `Castaway Details` should be saved as a DataFrame called `castaway_details`.  Make sure that the data files are in the same folder as your notebook.

Note:  You may or may not need to install [openpyxl](https://openpyxl.readthedocs.io/en/stable/) for the code below to work.  You can use: `$ pip install openpyxl`

In [2]:
# setup Filename and Object
fileName = "survivor.xlsx"
xls = pd.ExcelFile(fileName)

# import individual sheets
castaway_details = pd.read_excel(xls, 'Castaway Details')
castaways = pd.read_excel(xls, 'Castaways')
challenge_description = pd.read_excel(xls, 'Challenge Description')
challenge_results = pd.read_excel(xls, 'Challenge Results')
confessionals = pd.read_excel(xls, 'Confessionals')
hidden_idols = pd.read_excel(xls, 'Hidden Idols')
jury_votes = pd.read_excel(xls, 'Jury Votes')
tribe_mapping = pd.read_excel(xls, 'Tribe Mapping')
viewers = pd.read_excel(xls, 'Viewers')
vote_history = pd.read_excel(xls, 'Vote History')
season_summary = pd.read_excel(xls, 'Season Summary')
season_palettes = pd.read_excel(xls, 'Season Palettes')
tribe_colours = pd.read_excel(xls, 'Tribe Colours')

**Exercise1:** Change every column name of every DataFrame to lowercase and snake case.  This is a standard first step for some programmers as lowercase makes it easier to write and snake case makes it easier to copy multiple-word column names.

For example, `Castaway Id` should end up being `castaway_id`.  You should try doing this using a `for` loop instead of manually changing the names for each column.  It should take you no more than a few lines of code.  Use stackoverflow if you need help.

In [3]:
# Function to convert column names to lowercase and snake case
def to_snake_case(name):
    return name.strip().replace(' ', '_').lower()

# List of all DataFrames
dataframes = [castaway_details, castaways, challenge_description, challenge_results,
              confessionals, hidden_idols, jury_votes, tribe_mapping, viewers,
              vote_history, season_summary, season_palettes, tribe_colours]

# Applying the function to all DataFrames
for df in dataframes:
    df.columns = [to_snake_case(col) for col in df.columns]

# Verifying the changes for a few DataFrames
castaway_details.head()

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
0,1,Sonja Christopher,Sonja,1937-01-28,NaT,Female,NaN,NaN,Musician,ENFP
1,2,B.B. Andersen,B.B.,1936-01-18,2013-10-29,Male,NaN,NaN,Real Estate Developer,ESTJ
2,3,Stacey Stillman,Stacey,1972-08-11,NaT,Female,NaN,NaN,Attorney,ENTJ
3,4,Ramona Gray,Ramona,1971-01-20,NaT,Female,Black,NaN,Biochemist/Chemist,ISTJ
4,5,Dirk Been,Dirk,1976-06-15,NaT,Male,NaN,NaN,Dairy Farmer,ISFP

**Q2:** What contestant was the oldest at the time of their season?  We want to look at their age at the time of the season and NOT their current age.  Select their row from the `castaway_details` DataFrame and save this as `Q2`.  This should return a DataFrame and the index and missing values should be left as is.

In [4]:
# Merge castaway details with seasons to get DOB and season premiere dates
merged_data = (castaways
               .merge(castaway_details[['castaway_id', 'date_of_birth']], on='castaway_id', how='left')
               .merge(season_summary[['season', 'premiered']], on='season', how='left'))

# Convert 'date_of_birth' and 'premiered' to datetime
merged_data['date_of_birth'] = pd.to_datetime(merged_data['date_of_birth'])
merged_data['premiered'] = pd.to_datetime(merged_data['premiered'])

# Calculate age during season
merged_data['age_at_season'] = (merged_data['premiered'] - merged_data['date_of_birth']).dt.days // 365

# Identify and retrieve details of the oldest contestant
oldest_id = merged_data.loc[merged_data['age_at_season'].idxmax(), 'castaway_id']
Q2 = castaway_details[castaway_details['castaway_id'] == oldest_id]

# Display the result
Q2

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
13,14,Rudy Boesch,Rudy,1928-01-20,2019-11-01,Male,NaN,NaN,Retired Navy SEAL,ISTJ

In [24]:
merged_data

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won,date_of_birth,premiered,age_at_season
0,Survivor: 41,41,Erika Casupanan,594,Erika,32,Toronta,Ontario,ENFP,13,26,18,Sole Survivor,NaN,Luvu,NaN,NaN,Via Kana,2,8,1989-07-20,2021-09-22,32
1,Survivor: 41,41,Deshawn Radden,601,Deshawn,26,Miami,Florida,ENTP,13,26,17,Runner-up,NaN,Luvu,NaN,NaN,Via Kana,7,6,1995-09-17,2021-09-22,26
2,Survivor: 41,41,Xander Hastings,597,Xander,20,Chicago,Illinois,INFJ,13,26,16,2nd runner-up,NaN,Yase,NaN,NaN,Via Kana,2,6,2000-08-11,2021-09-22,21
3,Survivor: 41,41,Heather Aldret,593,Heather,52,Charleston,South Carolina,ISFJ,13,25,15,15th voted out,8th jury member,Luvu,NaN,NaN,Via Kana,4,6,1969-03-01,2021-09-22,52
4,Survivor: 41,41,Ricard Foye,596,Ricard,31,Sedro-Woolley,Washington,ENTJ,13,24,14,14th voted out,7th jury member,Ua,NaN,NaN,Via Kana,9,5,1989-12-04,2021-09-22,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757,Survivor: Borneo,1,Dirk Been,5,Dirk,23,Spring Green,Wisconsin,ISFP,5,15,5,5th voted out,NaN,Tagi,NaN,NaN,NaN,4,2,1976-06-15,2000-05-31,23
758,Survivor: Borneo,1,Ramona Gray,4,Ramona,29,Edison,New Jersey,ISTJ,4,12,4,4th voted out,NaN,Pagong,NaN,NaN,NaN,6,2,1971-01-20,2000-05-31,29
759,Survivor: Borneo,1,Stacey Stillman,3,Stacey,27,San Francisco,California,ENTJ,3,9,3,3rd voted out,NaN,Tagi,NaN,NaN,NaN,6,1,1972-08-11,2000-05-31,27
760,Survivor: Borneo,1,B.B. Andersen,2,B.B.,64,Mission Hills,Kansas,ESTJ,2,6,2,2nd voted out,NaN,Pagong,NaN,NaN,NaN,6,1,1936-01-18,2000-05-31,64
761,Survivor: Borneo,1,Sonja Christopher,1,Sonja,63,Walnut Creek,California,ENFP,1,3,1,1st voted out,NaN,Tagi,NaN,NaN,NaN,4,0,1937-01-28,2000-05-31,63

**Q3:** What contestant played in the most number of seasons? Select their row from the `castaway_details` DataFrame and save this as `Q3`.  This should return a DataFrame and the index and missing values should be left as is.

In [5]:
# Creating a DataFrame to count unique seasons for each contestant
unique_seasons = castaways.groupby('castaway_id')['season'].nunique()

# Finding the contestant ID with the most unique season appearances
most_seasons_id = unique_seasons.idxmax()

# Retrieve details of the contestant with the most unique seasons
Q3 = castaway_details[castaway_details['castaway_id'] == most_seasons_id]

# Display the result
Q3

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
54,55,Rob Mariano,Boston Rob,1975-12-25,NaT,Male,NaN,NaN,Construction Worker,ESTJ

**Q4:** Create a DataFrame of all the contestants that won their season (aka their final result in the `castaways` DataFrame was the 'Sole Survivor').  Call this DataFrame `sole_survivor`.  Note that contestants may appear more than one time in this DataFrame if they won more than one season.  Make sure that the index goes from 0 to n-1 and that the DataFrame is sorted ascending by season number.

The DataFrame should have the same columns, and the columns should be in the same order, as the `castaways` DataFrame.

In [6]:
# Creating the sole_survivor DF
Q4 = sole_survivor = castaways[castaways['result'] == 'Sole Survivor'].copy()

# Sorting by season number and resetting the index
Q4.sort_values(by='season', inplace=True)
Q4.reset_index(drop=True, inplace=True)

# Display the DataFrame
Q4

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
0,Survivor: Borneo,1,Richard Hatch,16,Richard,39,Newport,Rhode Island,ENTP,14,39,16,Sole Survivor,NaN,Tagi,NaN,NaN,Rattana,6,4
1,Survivor: The Australian Outback,2,Tina Wesson,32,Tina,40,Knoxville,Tennessee,ESFJ,16,42,16,Sole Survivor,NaN,Ogakor,NaN,NaN,Barramundi,0,2
2,Survivor: Africa,3,Ethan Zohn,48,Ethan,27,Lexington,Massachusetts,ISFP,15,39,16,Sole Survivor,NaN,Boran,Boran,NaN,Moto Maji,0,4
3,Survivor: Marquesas,4,Vecepia Towery,64,Vecepia,36,Hayward,California,ISTJ,15,39,16,Sole Survivor,NaN,Maraamu,Rotu,NaN,Soliantu,2,4
4,Survivor: Thailand,5,Brian Heidik,80,Brian,34,Quartz Hill,California,ISTP,15,39,16,Sole Survivor,NaN,Chuay Gahn,NaN,NaN,Chuay Jai,0,8
5,Survivor: The Amazon,6,Jenna Morasca,96,Jenna,21,Bridgeville,Pennsylvania,ISTP,15,39,16,Sole Survivor,NaN,Jaburu,Jaburu,NaN,Jacaré,3,7
6,Survivor: Pearl Islands,7,Sandra Diaz-Twine,112,Sandra,29,Fort Lewis,Washington,ESTP,15,39,18,Sole Survivor,NaN,Drake,Drake,NaN,Balboa,0,3
7,Survivor: All-Stars,8,Amber Brkich,27,Amber,25,Beaver,Pennsylvania,ISFP,17,39,18,Sole Survivor,NaN,Chapera,Chapera,Chapera,Chaboga Mogo,6,6
8,Survivor: Vanuatu,9,Chris Daugherty,130,Chris,33,South Vienna,Ohio,ENTP,15,39,18,Sole Survivor,NaN,Lopevi,Lopevi,NaN,Alinta,3,6
9,Survivor: Palau,10,Tom Westman,150,Tom,40,Sayville,New York,ESTJ,15,39,20,Sole Survivor,NaN,Koror,NaN,NaN,Koror,0,12
10,Survivor: Guatemala,11,Danni Boatwright,166,Danni,29,Tonganoxie,Kansas,ENFJ,15,39,18,Sole Survivor,NaN,Nakúm,Yaxhá,NaN,Xhakúm,1,5
11,Survivor: Panama,12,Aras Baskauskas,182,Aras,24,Santa Monica,California,INFP,16,39,16,Sole Survivor,NaN,Viveros,Casaya,NaN,Gitanos,9,4
12,Survivor: Cook Islands,13,Yul Kwon,202,Yul,31,San Mateo,California,INTJ,16,39,20,Sole Survivor,NaN,Puka Puka,Aitutaki,Aitutaki,Aitutonga,5,6
13,Survivor: Fiji,14,Earl Cole,221,Earl,35,Santa Monica,California,INFJ,15,39,19,Sole Survivor,NaN,Ravu,Moto,NaN,Bula Bula,1,5
14,Survivor: China,15,Todd Herzog,237,Todd,22,Pleasant Grove,Utah,ENFP,15,39,16,Sole Survivor,NaN,Fei Long,Fei Long,NaN,Hae Da Fung,5,4
15,Survivor: Micronesia,16,Parvati Shallow,197,Parvati,25,Los Angeles,California,ENFJ,15,39,20,Sole Survivor,NaN,Malakal,Airai,NaN,Dabu,4,7
16,Survivor: Gabon,17,Robert Crowley,265,Bob,57,South Portland,Maine,INTP,14,39,18,Sole Survivor,NaN,Kota,Kota,Kota,Nobag,2,8
17,Survivor: Tocantins,18,James Thomas Jr.,281,J.T.,24,Mobile,Alabama,ESTP,15,39,16,Sole Survivor,NaN,Jalapao,NaN,NaN,Forza,0,5
18,Survivor: Samoa,19,Natalie White,301,Natalie,26,Van Buren,Arkansas,ISFJ,16,39,20,Sole Survivor,NaN,Foa Foa,NaN,NaN,Aiga,8,1
19,Survivor: Heroes vs. Villains,20,Sandra Diaz-Twine,112,Sandra,35,Fayetteville,North Carolina,ESTP,15,39,20,Sole Survivor,NaN,Villains,NaN,NaN,Yin Yang,3,4
20,Survivor: Nicaragua,21,Jud Birza,321,Fabio,21,Venice,California,ESFP,16,39,20,Sole Survivor,NaN,La Flor,La Flor,NaN,Libertad,2,8
21,Survivor: Redemption Island,22,Rob Mariano,55,Boston Rob,34,Pensacola,Florida,ESTJ,15,39,20,Sole Survivor,NaN,Ometepe,NaN,NaN,Murlonio,7,9
22,Survivor: South Pacific,23,Sophie Clarke,353,Sophie,22,Willsboro,New York,INTJ,16,39,20,Sole Survivor,NaN,Upolu,NaN,NaN,Te Tuna,5,6
23,Survivor: One World,24,Kim Spradlin,371,Kim,29,San Antonio,Texas,INFJ,15,39,18,Sole Survivor,NaN,Salani,Salani,NaN,Tikiano,3,6
24,Survivor: Philippines,25,Denise Stapley,386,Denise,41,Cedar Rapids,Iowa,INFJ,15,39,18,Sole Survivor,NaN,Matsing,Kalabaw,NaN,Dangrayne,6,1
25,Survivor: Caramoan,26,John Cochran,348,Cochran,25,Washington,D.C.,INTP,15,39,20,Sole Survivor,NaN,Bikal,Bikal,NaN,Enil Edam,0,7
26,Survivor: Blood vs. Water,27,Tyson Apostol,274,Tyson,34,Provo,Utah,ESTP,15,39,23,Sole Survivor,NaN,Galang,Tadhana,NaN,Kasama,2,8
27,Survivor: Cagayan,28,Tony Vlachos,424,Tony,39,Jersey City,New Jersey,ESTP,14,39,18,Sole Survivor,NaN,Aparri,Solana,NaN,Solarrion,5,6
28,Survivor: San Juan del Sur,29,Natalie Anderson,442,Natalie,28,Edgewater,New Jersey,ESTP,15,39,18,Sole Survivor,NaN,Hunahpu,Hunahpu,NaN,Huyopa,0,6
29,Survivor: Worlds Apart,30,Mike Holloway,460,Mike,38,North Richland Hills,Texas,ESTP,15,39,18,Sole Survivor,NaN,Escameca,Escameca,NaN,Merica,4,7
30,Survivor: Cambodia,31,Jeremy Collins,433,Jeremy,37,Foxboro,Massachusetts,ESTJ,15,39,20,Sole Survivor,NaN,Bayon,Bayon,Bayon,Orkun,3,7
31,Survivor: Kaoh Rong,32,Michele Fitzgerald,478,Michele,24,Freehold,New Jersey,ESFP,15,39,18,Sole Survivor,NaN,Gondol,Chan Loh,NaN,Dara,1,7
32,Survivor: Millennials vs. Gen X,33,Adam Klein,498,Adam,25,San Francisco,California,ENTP,14,39,20,Sole Survivor,NaN,Vanua,Takali,NaN,Vinaka,6,6
33,Survivor: Game Changers,34,Sarah Lacina,414,Sarah,32,Marion,Iowa,ENTJ,14,39,20,Sole Survivor,NaN,Nuku,Tavua,NaN,Maku Maku,0,4
34,Survivor: Heroes vs. Healers vs. Hustlers,35,Ben Driebergen,516,Ben,34,Boise,Idaho,ESFP,14,39,18,Sole Survivor,NaN,Levu,Yawa,NaN,Solewa,11,4
35,Survivor: Ghost Island,36,Wendell Holland,536,Wendell,33,Philadelphia,Pennsylvania,INFJ,14,39,20,Sole Survivor,NaN,Naviti,Naviti,Yanuya,Lavita,5,8
36,Survivor: David vs. Goliath,37,Nick Wilson,556,Nick,27,Williamsburg,Kentucky,ENTP,14,39,20,Sole Survivor,NaN,David,Jabeni,NaN,Kalokalo,0,4
37,Survivor: Edge of Extinction,38,Chris Underwood,559,Chris,25,Greenville,South Carolina,ENTP,14,39,20,Sole Survivor,NaN,Manu,NaN,NaN,Vata,9,1
38,Survivor: Island of the Idols,39,Tommy Sheehan,590,Tommy,26,Long Beach,New York,ENFJ,14,39,20,Sole Survivor,NaN,Vokai,Vokai,NaN,Lumuwaku,2,6
39,Survivor: Winners at War,40,Tony Vlachos,424,Tony,45,Allendale,New Jersey,ESTP,15,39,22,Sole Survivor,NaN,Dakal,Dakal,NaN,Koru,0,9
40,Survivor: 41,41,Erika Casupanan,594,Erika,32,Toronta,Ontario,ENFP,13,26,18,Sole Survivor,NaN,Luvu,NaN,NaN,Via Kana,2,8

**Q5:** Have any contestants won more than one time?  If so, select their records from the `sole_survivor` DataFrame, sorting the rows by season.  Save this as `Q5`.  If no contestant has won twice, save `Q5` as the string `None`.

In [7]:
# Identify contestants with multiple wins
multi_win_ids = sole_survivor['castaway_id'].value_counts()
multi_win_ids = multi_win_ids[multi_win_ids > 1].index

# Retrieve records of multiple winners or set Q5 to 'None' if none exist
Q5 = (sole_survivor[sole_survivor['castaway_id'].isin(multi_win_ids)].sort_values(by='season')
      if len(multi_win_ids) > 0 else "None")

# Display the result
Q5

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
6,Survivor: Pearl Islands,7,Sandra Diaz-Twine,112,Sandra,29,Fort Lewis,Washington,ESTP,15,39,18,Sole Survivor,NaN,Drake,Drake,NaN,Balboa,0,3
19,Survivor: Heroes vs. Villains,20,Sandra Diaz-Twine,112,Sandra,35,Fayetteville,North Carolina,ESTP,15,39,20,Sole Survivor,NaN,Villains,NaN,NaN,Yin Yang,3,4
27,Survivor: Cagayan,28,Tony Vlachos,424,Tony,39,Jersey City,New Jersey,ESTP,14,39,18,Sole Survivor,NaN,Aparri,Solana,NaN,Solarrion,5,6
39,Survivor: Winners at War,40,Tony Vlachos,424,Tony,45,Allendale,New Jersey,ESTP,15,39,22,Sole Survivor,NaN,Dakal,Dakal,NaN,Koru,0,9

**Q6:** What is the average age of contestants when they appeared on the show?  Save this as `Q6`.  Round to nearest integer.

In [8]:
# Calculate the average age at first appearance and round to nearest int
Q6 = round(castaways.sort_values(by=['castaway_id', 'season'])
           .drop_duplicates(subset=['castaway_id'])['age'].mean())

# Display the result
Q6

33

**Q7:** Who played the most total number of days of Survivor? If a contestant appeared on more than one season, you would add their total days for each season together. Save the top five contestants in terms of total days played as a DataFrame and call it `Q7`, sorted in descending order by total days played.  

The following columns should be included: `castaway_id`, `full_name`, and `total_days_played` where `total_days_played` is the sum of all days a contestant played. The index should go from 0 to n-1.

Note:  Be careful because on some seasons, the contestant was allowed to come back into the game after being voted off.  Take a look at [Season 23's contestant Oscar Lusth](https://en.wikipedia.org/wiki/Ozzy_Lusth#South_Pacific) in the `castaways` DataFrame as an example.  He was voted out 7th and then returned to the game.  He was then voted out 9th and returned to the game a second time.  He was then voted out 17th the final time.  Be aware of this in your calculations and make sure you are counting the days according to the last time they were voted off or won.

In [9]:
# Grouping by both 'castaway_id' and 'season' to get the maximum 'day' for each contestant in each season
max_days_per_season = castaways.groupby(['castaway_id', 'season'])['day'].max().reset_index()

# Summing these maximum day values across all seasons for each contestant
total_days_played = max_days_per_season.groupby('castaway_id')['day'].sum().reset_index()

# Merging with castaway details to get the full names
total_days_played = total_days_played.merge(castaway_details[['castaway_id', 'full_name']], on='castaway_id')

# Renaming the 'day' column to 'total_days_played' and sorting the results in descending order
total_days_played = total_days_played.rename(columns={'day': 'total_days_played'})
total_days_played = total_days_played.sort_values(by='total_days_played', ascending=False)

# Selecting the top five contestants
Q7 = total_days_played.head(5).reset_index(drop=True)
Q7 = Q7[['castaway_id', 'full_name', 'total_days_played']]
Q7

   castaway_id          full_name  total_days_played
0           55        Rob Mariano                131
1          197    Parvati Shallow                130
2          201        Oscar Lusth                128
3          179       Cirie Fields                121
4          112  Sandra Diaz-Twine                110

**Q8A & Q8B**: Using the `castaway_details` data, what is the percentage of total extroverts and introverts that have played the game (count players only once even if they have played in more than one season).  Do not count contestants without a personality type listed in your calculations.  Save these percentages as `Q8A` and `Q8B` respectively.  Note: Round all percentages to two decimal points and write as a float (example: 55.57).  

For more information on personality types check this [Wikipedia article](https://en.wikipedia.org/wiki/Myers%E2%80%93Briggs_Type_Indicator).

In [10]:
# Filtering out contestants without a personality type listed
castaways_with_personality = castaway_details.dropna(subset=['personality_type'])

# Counting the number of extroverts
extroverts_count = castaways_with_personality['personality_type'].str.startswith('E').sum()

# Calculating the total count of contestants with a personality type listed
total_count = len(castaways_with_personality)

# Calculating the percentages
Q8A = round((extroverts_count / total_count) * 100, 2)

# Display the DF
Q8A

53.63

In [11]:
# Counting the number of introverts
introverts_count = castaways_with_personality['personality_type'].str.startswith('I').sum()

# Calculating the percentages
Q8B = round((introverts_count / total_count) * 100, 2)

# Display the DF
Q8B

46.37

**Q9A & Q9B**: Now that we know the percentages of total players that are extroverted and introverted, let's see if that made a difference in terms of who actually won their season.

What is the percentage of total extroverts and introverts that have won the game (count players only once even if they have won more than one season)?  Save these percentages as `Q9A` and `Q9B` respectively.  Note: Round all percentages to two decimal points and write as a float (example: 55.57).

In [12]:
# Identify winners with personality types
winners = castaways[castaways['result'] == 'Sole Survivor']['castaway_id'].unique()
winners_personality = castaway_details[castaway_details['castaway_id'].isin(winners)]['personality_type'].dropna()

# Count and calculate percentages for extrovert and introvert winners
extrovert_count = winners_personality.str.startswith('E').sum()
introvert_count = winners_personality.str.startswith('I').sum()
total_winners = len(winners_personality)

Q9A = round((extrovert_count / total_winners) * 100, 2)  # Extrovert winners percentage

# Display the DF
Q9A

61.54

In [13]:
Q9B = round((introvert_count / total_winners) * 100, 2)  # Introvert winners percentage

# Display the DF
Q9B

38.46

**Q10:** Which contestants have never received a tribal council vote (i.e. a vote to be voted out of the game as shown in the `vote_id` column in the `vote_history` DataFrame)? Note that there are various reasons for a contestant to not receive a tribal vote: they quit, made it to the end, medical emergency, etc.  Select their rows from the `castaway_details` DataFrame and save this as `Q10` in ascending order by `castaway_id`.  This should return a DataFrame and the index and missing values should be left as is.

In [14]:
# Identifying contestants who have never received a tribal council vote
castaways_with_vote = vote_history['vote_id'].unique()
Q10 = castaway_details[~castaway_details['castaway_id'].isin(castaways_with_vote)].sort_values(by='castaway_id')

# Display the DF
Q10

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
21,22,Michael Skupin,Michael,1962-01-29,NaT,Male,NaN,NaN,Software Publisher;Part-Time Professional Speaker,ESFJ
60,61,Paschal English,Paschal,1945-03-05,NaT,Male,NaN,NaN,Judge,ISFJ
79,80,Brian Heidik,Brian,1968-03-09,NaT,Male,NaN,NaN,Used Car Salesman,ISTP
130,131,Jonathan Libby,Jonathan,1981-09-05,NaT,Male,NaN,NaN,Sales & Marketing Associate,ISTP
131,132,Wanda Shirk,Wanda,1949-08-24,NaT,Female,NaN,NaN,English Teacher,ENFP
205,206,Gary Stritesky,Gary,1951-09-16,NaT,Male,NaN,NaN,School Bus Driver,ISFJ
241,242,Kathleen Sleckman,Kathy,1962-08-14,NaT,Female,NaN,NaN,Golf Course Vendor,ENFP
282,283,Mike Borassi,Mike,1947-03-13,NaT,Male,NaN,NaN,Personal Chef,ESTP
313,314,Kelly Shinn,Purple Kelly,1990-05-05,NaT,Female,NaN,NaN,Nursing Student,ENFP
353,354,Kourtney Moon,Kourtney,1982-02-27,NaT,Female,NaN,NaN,Motorcycle Repair,ISFP
374,375,Dana Lambert,Dana,1979-12-13,NaT,Female,NaN,NaN,Cosmetologist,ISTP
384,385,Lisa Whelchel,Lisa,1963-05-29,NaT,Female,NaN,NaN,Former TV Teen Star,INFP
411,412,Lindsey Ogle,Lindsey,1983-09-04,NaT,Female,NaN,NaN,Hairstylist,ESFP
467,468,Neal Gottlieb,Neal,1977-02-03,NaT,Male,NaN,NaN,Ice Cream Entrepreneur,INTP
536,537,Pat Cusack,Pat,1977-02-25,NaT,Male,NaN,NaN,Maintenance Manager,ESTP
539,540,Bi Nguyen,Bi,1989-10-30,NaT,Female,Asian,NaN,MMA Fighter,ISFP
552,553,Kara Kay,Kara,1987-11-20,NaT,Female,NaN,NaN,Realtor,ENFJ
569,570,Gavin Whitson,Gavin,1994-07-20,NaT,Male,NaN,NaN,YMCA Program Director,ISFJ

**Q11:** What contestant has won the most number of challenges?  Select their row from the `castaway_details` DataFrame and save this as `Q11`.  This should return a DataFrame and the index and missing values should be left as is.

In [15]:
# Counting the number of wins 
challenge_wins = challenge_results['winner_id'].value_counts()

# Finding the castaway_id with the maximum number of wins
max_wins_castaway_id = challenge_wins.idxmax()

# Selecting the row of this contestant from castaway_details
Q11 = castaway_details[castaway_details['castaway_id'] == max_wins_castaway_id]

# Display the DF
Q11

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
200,201,Oscar Lusth,Ozzy,1981-08-23,NaT,Male,Mexican American,Hispanic or Latino,Waiter;Photographer,ISFP

**Q12:** Let's see how many winners ended up getting unanimous jury votes to win the game.  Create a Dataframe that shows the survivors that got unanimous jury votes with these columns in the final output: `season`, `season_name`, `winner_id`, `full_name`.  The DataFrame should be sorted by season and the index should go from 0 to n-1.  Save this as `Q12`.

In [16]:
# Merge jury_votes with castaway_details to get the full name of the castaways
merged_df = pd.merge(jury_votes, castaway_details[['castaway_id', 'full_name']], left_on='finalist_id', right_on='castaway_id')

# Filtering for unanimous votes
unanimous_votes = merged_df.groupby(['season', 'finalist_id']).filter(lambda x: x['vote'].nunique() == 1)

# Filtering out only the winners using the season_summary DF
winners_df = pd.merge(unanimous_votes, season_summary[['season', 'winner_id']], on='season')
winners_df = winners_df[winners_df['finalist_id'] == winners_df['winner_id']]

# Selecting the required columns
result_df = winners_df[['season', 'season_name', 'winner_id', 'full_name']].drop_duplicates()

# Sorting by season and resetting index
result_df = result_df.sort_values(by='season').reset_index(drop=True)

# Saving the result as Q12
Q12 = result_df

# Display the DF
Q12

   season                      season_name  winner_id         full_name
0      14                   Survivor: Fiji        221         Earl Cole
1      18              Survivor: Tocantins        281  James Thomas Jr.
2      26               Survivor: Caramoan        348      John Cochran
3      31               Survivor: Cambodia        433    Jeremy Collins
4      33  Survivor: Millennials vs. Gen X        498        Adam Klein

**Q13:** For the `castaway_details` DataFrame, there is a `full_name` column and a `short_name` column.  It would be helpful for future analysis to have the contestants first and last name split into separate columns.  First copy the `castaway_details` DataFrame to a new DataFrame called `Q13` so that we do not change the original DataFrame.  

Create two new columns and add the contestant's first name to a new column called `first_name` and their last name to a new column called `last_name`.  Add these columns to the `Q13` DataFrame.  Put the `first_name` and `last_name` columns between the `full_name` and `short_name` columns.

Note:  Be careful as some players have last names with multiple spaces.  For example, `Lex van den Berghe`.  You should code `Lex` as his first name and `van den Berghe` as his last name.

In [17]:
# Creating the Q13 DF
Q13 = castaway_details.copy()
name_split = Q13['full_name'].str.split(n=1, expand=True)
Q13['first_name'], Q13['last_name'] = name_split[0], name_split[1].fillna('')

# Reorder columns
columns = ['castaway_id', 'full_name', 'first_name', 'last_name', 'short_name', 'date_of_birth', 'date_of_death',
           'gender', 'race', 'ethnicity', 'occupation', 'personality_type']
Q13 = Q13[columns]

# Display the DF
Q13

,castaway_id,full_name,first_name,last_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
0,1,Sonja Christopher,Sonja,Christopher,Sonja,1937-01-28,NaT,Female,NaN,NaN,Musician,ENFP
1,2,B.B. Andersen,B.B.,Andersen,B.B.,1936-01-18,2013-10-29,Male,NaN,NaN,Real Estate Developer,ESTJ
2,3,Stacey Stillman,Stacey,Stillman,Stacey,1972-08-11,NaT,Female,NaN,NaN,Attorney,ENTJ
3,4,Ramona Gray,Ramona,Gray,Ramona,1971-01-20,NaT,Female,Black,NaN,Biochemist/Chemist,ISTJ
4,5,Dirk Been,Dirk,Been,Dirk,1976-06-15,NaT,Male,NaN,NaN,Dairy Farmer,ISFP
...,...,...,...,...,...,...,...,...,...,...,...,...
603,604,Tiffany Seely,Tiffany,Seely,Tiffany,1973-12-08,NaT,Female,White,Jewish,Teacher,ENTP
604,605,Sydney Segal,Sydney,Segal,Sydney,1995-07-19,NaT,Female,White,Jewish,Law Student,ESTP
605,606,Shantel Smith,Shantel,Smith,Shan,1987-03-11,NaT,Female,Black,NaN,Pastor,ENFJ
606,607,David Voce,David,Voce,Voce,1986-05-01,NaT,Male,NaN,NaN,Neurosurgeon,ENTJ
607,608,Liana Wallace,Liana,Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ

**Q14:** Let's say that we wanted to predict a contestants personality type based on the information in the data files.  Your task is to create a DataFrame that lists the `castaway_id`, `full_name` and `personality_type` for each castaway contestant.  However, since most machine learning algorithms use numeric data, you want to change the personality types to the following numbers:
- ISTJ - 1
- ISTP - 2
- ISFJ - 3
- ISFP - 4
- INFJ - 5
- INFP - 6
- INTJ - 7
- INTP - 8
- ESTP - 9
- ESTJ - 10
- ESFP - 11
- ESFJ - 12
- ENFP - 13
- ENFJ - 14
- ENTP - 15
- ENTJ - 16
- Missing values - 17

Save this new DataFrame as `Q14` and sort based on `castaway_id` in ascending order.

In [18]:
# Mapping for personality types to numeric data
personality_mapping = {
    'ISTJ': 1, 'ISTP': 2, 'ISFJ': 3, 'ISFP': 4,
    'INFJ': 5, 'INFP': 6, 'INTJ': 7, 'INTP': 8,
    'ESTP': 9, 'ESTJ': 10, 'ESFP': 11, 'ESFJ': 12,
    'ENFP': 13, 'ENFJ': 14, 'ENTP': 15, 'ENTJ': 16
}

# Creating Q14 DataFrame
Q14 = castaways[['castaway_id', 'full_name', 'personality_type']].copy()

# Replacing personality type with numeric values, missing values with 17
Q14['personality_type'] = Q14['personality_type'].replace(personality_mapping).fillna(17).astype(int)

# Dropping duplicates for 'castaway_id'
Q14 = Q14.drop_duplicates(subset='castaway_id')

# Sorting by 'castaway_id'
Q14.sort_values(by='castaway_id', inplace=True)

# Resetting the index
Q14.reset_index(drop=True, inplace=True)

Q14

     castaway_id          full_name  personality_type
0              1  Sonja Christopher                13
1              2      B.B. Andersen                10
2              3    Stacey Stillman                16
3              4        Ramona Gray                 1
4              5          Dirk Been                 4
..           ...                ...               ...
603          604      Tiffany Seely                15
604          605       Sydney Segal                 9
605          606      Shantel Smith                14
606          607         David Voce                16
607          608      Liana Wallace                10

[608 rows x 3 columns]

**Q15:** After thinking about this some more, you realize that you don't want to code the personality traits as you did in problem 14 since the data is not ordinal.  Some machine learning algorithms will assume that numbers close to each other are more alike than those that are away from each other and that is not the case with these personality types.

Let's create a new DataFrame called `Q15` that creates dummy columns (using `get_dummies`) for the original personality type column.  Add a prefix called "type" and drop the first column to help prevent multicollinearity.  The columns should be `castaway_id`, `full_name` followed by the various dummy columns for the personality types.  Don't worry about any missing values in this step.

Remember: Don't change any of the original DataFrames or CodeGrade will not work correctly for this assignment.  Make sure you use `copy()` if needed.

In [19]:
# Create a copy of relevant columns from castaway_details
Q15 = castaway_details[['castaway_id', 'full_name', 'personality_type']].copy()

# Dummy columns for personality types and convert to int
personality_dummies = pd.get_dummies(Q15['personality_type'], prefix='type', drop_first=True).astype(int)

# Concatenate dummy columns with Q15 DataFrame
Q15 = pd.concat([Q15[['castaway_id', 'full_name']], personality_dummies], axis=1)

# Display the DF
Q15

,castaway_id,full_name,type_ENFP,type_ENTJ,type_ENTP,type_ESFJ,type_ESFP,type_ESTJ,type_ESTP,type_INFJ,type_INFP,type_INTJ,type_INTP,type_ISFJ,type_ISFP,type_ISTJ,type_ISTP
0,1,Sonja Christopher,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,B.B. Andersen,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,3,Stacey Stillman,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,Ramona Gray,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,5,Dirk Been,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,604,Tiffany Seely,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
604,605,Sydney Segal,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
605,606,Shantel Smith,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
606,607,David Voce,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
607,608,Liana Wallace,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

**Q16:** After running your data above through your machine learning model, you determine that a better prediction might come from breaking the personality type into its four parts (one part for each character in the type).  Your task is now to create a DataFrame called `Q16` that splits the personality type into the various parts and creates a new column for each part (these columns should be called `interaction` that will represent the first letter in the personality type, `information` for the second letter, `decision` for the third, and `organization` for the fourth).

Again, since most machine learning algorithms work with numeric data, perform the following on the four new columns:
- `interaction` --> code all `I`'s as `0` and `E`'s as `1`
- `information` --> code all `S`'s as `0` and `N`'s as `1`
- `decision` --> code all `T`'s as `0` and `F`'s as `1`
- `organization` --> code as `J`'s with `0` and `P`'s as `1`
- Any missing values should be coded with a `2`
- Double check that all of the above columns are an integer type.  Some students have a problem with CodeGrade because one of their columns ends up being a string instead of an int.

For example, if a contestant's personality type was `ENTJ`, your columns for that row would be:
- `1` for `interaction` because of the `E`
- `1` for `information` because of the `N`
- `0` for `decision` because of the `T` 
- `0` for `organization` because of the `J`

The new DataFrame should be sorted in `castaway_id` order and have the following columns in this order: `castaway_id`, `full_name`, `personality_type`, `interaction`, `information`, `decision`, `organization`.

Remember: Don't change any of the original DataFrames or CodeGrade will not work correctly for this assignment.  Make sure you use `copy()` if needed.

In [20]:
# Create DataFrame from relevant columns
Q16 = castaway_details[['castaway_id', 'full_name', 'personality_type']].copy()

# Define mapping for personality traits
mapping = {'I': 0, 'E': 1, 'S': 0, 'N': 1, 'T': 0, 'F': 1, 'J': 0, 'P': 1}

# Split personality type into components and map to int
personality_split = Q16['personality_type'].apply(lambda x: [mapping.get(char, 2) for char in str(x)] if pd.notna(x) and len(x) == 4 else [2, 2, 2, 2])
Q16[['interaction', 'information', 'decision', 'organization']] = pd.DataFrame(personality_split.tolist(), index=Q16.index).astype(int)

# Sort by castaway_id
Q16 = Q16.sort_values(by='castaway_id').reset_index(drop=True)

# Display the DF
Q16

,castaway_id,full_name,personality_type,interaction,information,decision,organization
0,1,Sonja Christopher,ENFP,1,1,1,1
1,2,B.B. Andersen,ESTJ,1,0,0,0
2,3,Stacey Stillman,ENTJ,1,1,0,0
3,4,Ramona Gray,ISTJ,0,0,0,0
4,5,Dirk Been,ISFP,0,0,1,1
...,...,...,...,...,...,...,...
603,604,Tiffany Seely,ENTP,1,1,0,1
604,605,Sydney Segal,ESTP,1,0,0,1
605,606,Shantel Smith,ENFJ,1,1,1,0
606,607,David Voce,ENTJ,1,1,0,0
607,608,Liana Wallace,ESTJ,1,0,0,0

**Q17:** Using data from `castaways`, create a DataFrame called `Q17` that bins the contestant ages (their age when they were on the season, not their current age) into the following age categories:
- 18-24
- 25-34
- 35-44
- 45-54
- 55-64
- 65+

The final DataFrame should have the following columns in this order: `season`, `castaway_id`, `full_name`, `age`, and `age_category`.  The DataFrame should be sorted by age and then castaway_id.  The index should be 0 through n-1.  You should have the same amount of rows as in the `castaways` DataFrame.

Remember: Don't change any of the original DataFrames or CodeGrade will not work correctly for this assignment.  Make sure you use `copy()` if needed.

In [21]:
# Creating a new DataFrame from 'castaways'
Q17 = castaways[['season', 'castaway_id', 'full_name', 'age']].copy()

# Correcting the age category binning to ensure that ages are categorized correctly
age_bins = [18, 25, 35, 45, 55, 65, np.inf]
age_labels_corrected = ['18-24', '25-34', '35-44', '45-54', '55-64', '65+']

# Binning the ages with the corrected bins and labels
Q17['age_category'] = pd.cut(Q17['age'], bins=age_bins, labels=age_labels_corrected, right=False)

# Sorting the DataFrame by age and then castaway_id
Q17 = Q17.sort_values(by=['age', 'castaway_id']).reset_index(drop=True)

Q17

     season  castaway_id          full_name  age age_category
0        33          491          Will Wahl   18        18-24
1        36          528     Michael Yerger   18        18-24
2        18          270       Spencer Duhm   19        18-24
3        22          336  Natalie Tenerelli   19        18-24
4        23          350      Brandon Hantz   19        18-24
..      ...          ...                ...  ...          ...
757      24          366         Greg Smith   64        55-64
758      21          304      Jimmy Johnson   67          65+
759      32          474   Joseph Del Campo   71          65+
760       1           14        Rudy Boesch   72          65+
761       8           14        Rudy Boesch   75          65+

[762 rows x 5 columns]

**Q18:** Based on the age categories you created above, what are the normalized percentages for the various age categories using `value_counts()`.  Sort the value counts by index.  Save this as `Q18`.

In [22]:
# Calculating normalized percentages for the various age categories
Q18 = Q17['age_category'].value_counts(normalize=True).sort_index() 

Q18

age_category
18-24    0.190289
25-34    0.437008
35-44    0.211286
45-54    0.124672
55-64    0.031496
65+      0.005249
Name: proportion, dtype: float64

**Q19:** Which contestant(s) played a perfect game?  A perfect game is considered when the contestant:
- didn't receive any tribal council votes all season (this is different than Q10 since some players played multiple times.  They got voted out in one season so they would not show in Q10 but they came back for another season and didn't receive any tribal council votes)
- won the game
- got unanimous jury votes (see question 12)

Save this DataFrame as `Q19` with the following columns: `season_name`, `season`, `castaway_id`, `full_name`, `tribal_council_votes`, `jury_votes`.  The DataFrame should be sorted by season and the index should be 0 to n-1.

In [23]:
# 1. Participants who did not receive any votes at tribal councils throughout the entire season
no_votes_all_seasons = castaways[castaways['total_votes_received'] == 0]

# 2. Winners of the game with unanimous jury votes from Q12
winners_with_unanimous_jury_votes = Q12

# Merging no_votes_all_seasons with winners_with_unanimous_jury_votes based on 'winner_id' (which is the same as 'castaway_id')
perfect_game_candidates = pd.merge(no_votes_all_seasons, winners_with_unanimous_jury_votes, left_on='castaway_id', right_on='winner_id')

# Counting jury votes per season and finalist
jury_vote_counts = jury_votes.groupby(['season', 'finalist_id']).size().reset_index(name='jury_vote_count')

# Merging the jury vote count with perfect_game_candidates
perfect_game_candidates = pd.merge(perfect_game_candidates, jury_vote_counts, left_on=['season_x', 'castaway_id'], right_on=['season', 'finalist_id'])

# Selecting and renaming the necessary columns
Q19 = perfect_game_candidates[['season_name_x', 'season_x', 'castaway_id', 'full_name_x', 'total_votes_received', 'jury_vote_count']]

# Renaming columns for clarity
Q19 = Q19.rename(columns={
    'season_name_x': 'season_name', 
    'season_x': 'season', 
    'full_name_x': 'full_name', 
    'total_votes_received': 'tribal_council_votes', 
    'jury_vote_count': 'jury_votes'
})

# Sorting by season and resetting indices
Q19 = Q19.sort_values(by='season').reset_index(drop=True)

# Displaying the Q19 DataFrame
Q19

,season_name,season,castaway_id,full_name,tribal_council_votes,jury_votes
0,Survivor: Tocantins,18,281,James Thomas Jr.,0,7
1,Survivor: Caramoan,26,348,John Cochran,0,8